@model PointOfSale.Data.Entities.CustomersEntity
<form enctype="multipart/form-data" asp-action="UpdateCustomerDetail" asp-controller="Customers" method="post">
    <div class="card-header">
        <div class="row">
            <div class="col-6 pos-vertical-align-center">
                <span class="">Customer Details</span>
            </div>
            @*<div class="col-6">
                    <div class="pos-pull-right">
                        <button type="button" data-toggle="tooltip" data-placement="bottom" id=btnChequePaymentViewDetails title="ביטול" class="btn btn-danger btn-rounded btn-icon" onclick="CloseChequePaymentDetail();"><i class="mdi mdi-close"></i></button>
                        <button type="reset" id="btnReset" data-toggle="tooltip" data-placement="bottom" title="אפס" class="btn btn-primary btn-rounded btn-icon"><i class="mdi mdi-refresh"></i></button>
                        <button type="submit" id="btnSave" data-toggle="tooltip" data-placement="bottom" title="שמור פרטי צ'ק" class="btn btn-success btn-rounded btn-icon"><i class="mdi mdi-content-save"></i></button>
                    </div>
                </div>*@
        </div>
    </div>
    <div class="card-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="CreatedOn" />
        <input type="hidden" asp-for="CreatedBy" />

        <div class="form-row">

            <div class="form-group col-6 col-lg-4">
                <label class="form-label" asp-for="FirstName">First Name</label>
                <input type="text" asp-for="FirstName" class="form-control datepicker" placeholder="הכנס תאריך">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-6 col-lg-4">
                <label class="form-label" asp-for="LastName">Last Name</label>
                <input asp-for="LastName" class="form-control" placeholder="Invoice No" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group col-6 col-lg-4">
                <label class="form-label" asp-for="Email">Email </label>
                <input asp-for="Email" class="form-control" placeholder="Check No" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-6 col-lg-4">
                <label class="form-label" asp-for="Address">Address</label>
                <input type="text" asp-for="Address" class="form-control datepicker" placeholder="Date of Cheque" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>
@{ await Html.RenderPartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml"); }
