@model IEnumerable<PointOfSale.Data.Entities.CustomersEntity>
<div class="card mt-1 mb-1" id="btnContactList">
    <div class="card-body" style="overflow-x:auto">
        <table id="dataTable" class="table table-bordered table-striped">
            <thead style="text-align:center">
                <tr>

                    <th>First Name</th>
                    <th>Last Name/th>
                    <th>Email</th>
                    <th>Address</th>
                   <th style="max-width:100px;">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int CustomerCount = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>

                      
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Email</td>
                        <td>@item.Address</td>
                       
                        <td>
                            @CustomerCount
                        </td>
                    </tr>
                    CustomerCount++;
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("dataTable").DataTable();
    });
</script>

