@model PointOfSale.Web.ViewModels.CUstomerViewModel
@{ViewData["Title"] = "Customer management";}
<section class="content-header">
    <div class="row-breadcrumb">
        <span class="active">Customer management</span>
        <div class="col-4">
            <button class="btn btn-primary btn-rounded btn-icon pos-pull-right" data-toggle="tooltip" data-placement="bottom" id="btnContactViewDetails" title="Add new contact" onclick="ViewCustomerDetail();"><i class="mdi mdi-plus"></i></button>
        </div>
    </div>
    <div class="card" id="CustomerDetailForm" style="display:none"></div>
    @{ await Html.RenderPartialAsync("~/Views/Customer/Partials/Customer.cshtml", Model?.CustomerList); }
</section>